:root {
  --fontTitles: 'Faune';
  --pinkGray: #da8fa8;
  --plum: #6b1f2d;
  --lightPlum: #ac4659;
  --cream: #f1e3d1;
  --pink: #fa9ebc;
  --orange: #ed9166;

  --terracota: #dc966d;
  --chileRojo: #ce9481;
  --olive: #dcd9ae;
  --sunset: #eac891;
  --yellow: #fbcb77;

  --color1: var(--cream);
  --color2: var(--olive);
  --color3: var(--terracota);
  --color4: var(--sunset);
}
