:root {
  --lightBlack: #333;
  --darkGreen: #0c3619;
  --terracota: #dc966d;
  --chileRojo: #ce9481;
  --olive: #dcd9ae;
  --sunset: #eac891;
  --yellow: #fbcb77;
  --cream: #f1e3d1;

  --color1: var(--cream);
  --color2: var(--olive);
  --color3: var(--terracota);
  --color4: var(--sunset);
  --colorFont: var(--darkGreen);
}
